@using CVLingtoSQL.Models.Entity
@model List<Hakkimda>

<h2 class="w3_head mb-4">Education life </h2>

@foreach (var educate in Model)
{
    <p class="iner mt-md-5">@educate.Egitim</p>
}


<!-- //about -->
<!-- services -->

