@using CVLingtoSQL.Models.Entity
@model List<Hakkimda>

<h3 class="w3_head mb-4 text-left"> Experiences</h3>
@foreach (var ex in Model)
{
    <p class="iner mt-md-5 text-left">@ex.IsDeneyimleri</p>
}

@*<div class="row news-grids-left mt-5">
        <div class="col-lg-5 news_top">
            <img src="/Content/images/g1.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-7 news_top1">
            <h5>Nulla pellentesque</h5>
            <p class="mt-3">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
        </div>
    </div>*@
@*<div class="row news-grids-middle">
        <div class="col-lg-5 news_top">
            <img src="/Content/images/g2.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-7 news_top1">
            <h5>Nulla pellentesque</h5>
            <p class="mt-3">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
        </div>
    </div>*@
@*<div class="row news-grids-right">
        <div class="col-lg-5 news_top">
            <img src="/Content/images/g3.jpg" alt="news image" class="img-fluid">
        </div>
        <div class="col-lg-7 news_top1">
            <h5>Nulla pellentesque</h5>
            <p class="mt-3">Integer eu ante ornare amet commetus vestibulum blandit integer in curae ac faucibus integer adipiscing ornare amet.</p>
        </div>
    </div>*@


